.loader {
	margin: 20px;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 50%;
	border-top: 10px solid #e74c3c;
	position: relative;
	animation: al 2s linear infinite;
	span {
		font-family: 'montserrat', sans-serif;
		position: absolute;
		width: 200px;
		height: 200px;
		color: #fff;
		text-align: center;
		line-height: 200px;
		animation: anim 2s linear infinite;
	}
}
.loader::before, .loader::after{
	content: '';
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0;
	top: -10px;
	box-sizing: border-box;
	border-radius: 50%;
}
.loader::before {
	border-top: 10px solid #e67e22;
	transform: rotate(120deg);
}
.loader::after {
	border-top: 10px solid #3498db;
	transform: rotate(240deg);
}
@keyframes al{
	to {
		transform: rotate(360deg);
	}
}
@keyframes anim {
	to {
		transform: rotate(-360deg);
	}
}